<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Test</title>
</head>
<style>
    /* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

p {
    color: #555;
    text-align: center;
    font-size: 1.2em;
}

</style>
<body>
    <h1>Hello, World!</h1>
    <p>This is a simple test with Flask.</p>
</body>
</html>
